@model BitBookApp.Models.UserProfile

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_LayoutBb.cshtml";
}

<div>
    
    <h4>Confirmation</h4>
    <hr/>

    <span style="color: green; font-size: 15px;">You are now friend with <b> @Model.Name </b></span>

</div>

