@model BitBookApp.Models.UserProfile

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_LayoutBb.cshtml";
}

<div>

    <h4>Confirmation</h4>
    <hr />

    <span style="color: red; font-size: 15px;">Now <b> @Model.Name </b> is not in your friend list</span>

</div>

